# TODO
#- name: Verify compose already exists for this image release
#  when: not force_create | default(False)

- name: Request creation of images
  tags:
    - compose
  ansible.builtin.uri:
    url: "{{ api_endpoint }}/compose"
    method: POST
    headers:
      Authorization: Bearer {{ refresh_token.json.access_token }}
    body:
      image_name: "{{ image.name }}"
      image_description: "{{ release_id }}"
      distribution: "{{ image.distribution }}"
      image_requests:
        - architecture: "{{ image.architecture | default('x86_64') }}"
          image_type: "{{ image.image_type | default('guest-image') }}"
          upload_request:
            type: "{{ image.upload_type | default('aws.s3') }}"
            options: "{{ image.upload_options | default('{}') }}"
      customizations:
        packages: "{{ image.packages | default('[]')}}"
        filesystem: "{{ image.filesystem | default('[]') }}"
    body_format: json
    status_code: 201
  register: compose_request
  loop: "{{ filecheck.results }}"
  loop_control:
    label: "{{ image.name }}"
  vars:
    image: "{{ item.item }}"
  when: not item.stat.exists
